/* general.scss */
@import './variables.scss';
@import './fonts.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $tertiaryColor;
  font-family: 'Caladea', sans-serif;
}

.show-mobile {
  display: block;
  @include desktop {
    display: none;
  }
}

.show-desktop {
  display: none;
  @include desktop {
    display: block;
  }
}
