/* variables.scss */

$primaryColor: #2e19a5;
$secondaryColor: #f84464;
$tertiaryColor: #e5e5e5;
$white: #fff;
$black: #000;

$fontPrimaryColor: #393939;
$fontSecondaryColor: $white;
$fontTertiaryColor: #b4b4b4;
$fontTitleColor: #1c1c1c;
$fontTitleSecondaryColor: #828282;

$tablet-width: 768px;
$desktop-width: 1024px;
